/* Inserta tu CSS aqui */
.pasto{
    background-color:#63ca74;
    width: 900px;
    height: 450px;
    padding: 30px;
}
.cancha{
    width: 900px;
    height: 450px;
    position: relative;
    border: 2px solid #fff;
}

.izquierda{
    border: 1px solid #fff;
    width: 150px;
    height: 200px;
    float:inherit;
    margin-right: 0px;
    margin-top: 90px;
}
.centro{
    border: 1px solid #fff;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    position:absolute;
    left: 350px;
    top: 120px;
}
.derecha{
    border: 1px solid #fff;
    width: 150px;
    height: 200px;
    float: right;
    margin-top:-210px;
}
.una{
    position: absolute;
    left: 125px;
    top: 100px;
}
.dos{
    position: absolute;
    right: 150px;
    top: 250px;
}
.tres {
     position: absolute;
    right: 450px;
    bottom: 350px;
 
}
    